version: '3.9'

x-app: &default-app
  image: monyorojoseph/riz:v0.1.0
  env_file:
    - .env

services:
  app:
    <<: *default-app
    container_name: rizApp
    restart: unless-stopped  
    command: gunicorn --bind 0.0.0.0:8000 setup.wsgi
    ports:
      - 8000:8000

  redis:
    image: redis:7.2.3
    container_name: rizRedis
    restart: unless-stopped  
    ports:
      - 6379:6379
    volumes:
      - riz_redis_db:/data

  tasks:
    <<: *default-app
    command: python manage.py run_huey
    container_name: rizTasks
    restart: unless-stopped  
    depends_on:
      - redis

volumes:
  riz_redis_db: